@import "variable";
@import "github_markdown";

.markdown-body {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: $text-color;

  > p, ul {
    margin-inline: 0.5em;
  }

  & > h1 {
    border-bottom: 0;
  }

  & > h2 {
    border-bottom-color: $line-dim-color;
  }

  & h1, h2, h3, h4, h5, h6 {
    transition: color .2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    font-weight: bold;
    margin-top: -60px;
    padding-top: 60px;
    margin-bottom: .75em;

    .header-anchor {
      margin-left: -1em;
      text-decoration: none;
      opacity: 0;
      transition: opacity 0.5s;
    }

    &:hover .header-anchor {
      opacity: 1;
    }
  }

  &:focus {
    outline: none;
  }

  a {
    color: $main-color;
  }

  strong {
    font-weight: bold;
  }

  code {
    tab-size: 4;
    display: inline;
    background-color: $background-dim-color;
    transition: background-color .2s ease-in-out;
  }

  table {
    border-color: $line-dim-color;

    tr {
      background-color: $background-dim-color;
      transition: background-color .2s ease-in-out;
    }

    tr:nth-child(2n) {
      background-color: $background-dim-color;
      transition: background-color .2s ease-in-out;
    }

    th, td {
      border-color: $line-dim-color;
      transition: border-color .2s ease-in-out;
    }
  }

  p > img, figure > img, figure > a > img {
    max-width: 90%;
    margin: 1.5rem auto;
    display: block;
    border-radius: 4px;
    background-color: transparent;
  }

  blockquote {
    color: $text-dim-color;
  }

  ul {
    padding-inline-start: 1em;
  }


  details {
    cursor: pointer
  }


  summary {
    outline: none
  }
  
  mark {
    background-color: rgba($main-color, 0.5);
  }

  .footnote-item {
    margin: 0;
    padding: 0;
  }

}

.markdown-body--indent {
  > p {
    text-indent: 2em;
  }
}